* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


header {
    color: white;
    background-color: rgb(141, 45, 45);
    font-size: 2em;
    padding: 10px 20px;
}

body {
    height: 100%;
    margin-bottom: 5%;
    background-color: white;
}

/* HEADLINES */
#headlinesContainer {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.article-card {
    border-radius: 5px;
    margin: 1%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    width: 300px;
    
}

.article-card > img {
    border-radius: 5px;
    width: 300px;
    height: 250px;
}

.article-card > h3 {
    font-weight: bold;
    flex-grow: 3;
}

.article-card > p {
    flex-grow: 3;
}


#headlinesContainer > a {
    color:black;
    text-decoration: none;
}

#headlinesContainer > a:visited {
    color: grey;
}

.article-card:hover > h3 {
    text-decoration: underline;
}

/* SEARCH LIST ITEMS */

#newsListContainer a {
    display: block;
    color: black;
}

#newsListContainer > a:visited {
    color: grey;
}

.search-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.search-list-item > h1 {
    max-width: 50%;
    min-width: 300px;
    align-self: center;
    flex-grow: 3;

}

.search-list-item:hover > h1 {
    text-decoration: underline;

}


.search-list-item > img {
    width: 350px;
    height: 250px;
    padding: 1% 0 1% 0;
}